* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.navbar {
    background-color: #333;
    padding: 15px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    color: #fff;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}
#navbar-logo {
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    
}
.img-logo {
    height: 65px;
    width: 65px;
}

.navbar-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-items{
    height: 25px;

}

.navbar-links{
    height: 100%;
    width: 130px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navbar-links:hover{
    color: pink;
    transition: all 0.3s ease;
}


.navbar-icon {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.cart {
    color: #fff;
}

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-pages {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        right: 0%;
    }

    .navbar-pages.active {
        background: #333;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
        width: 100%;
        right: 0%;
    }

    #navbar-logo {
        padding-left: 25px;
    }

    .navbar-switch .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-dropdown {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-switch .bar {
        display: block;
        cursor: pointer;
    }
}
header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 1rem;
    
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}