/*code to show the white background*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* codes to show the box of the payment*/
.payment-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*style of each details*/
.product-details {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-details h2 {
    margin-bottom: 5px;
}

.product-details p {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}
/*style to show the input*/
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
/*style of the button*/
button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}
/*style when the mouse hover the button*/
button:hover {
    background-color: #45a049;
}
/*style to show the promode after and before*/
.promocode {
    display: flex;
    height: 100%;
    width: 40%;
    margin-bottom: 10px;
}

#promocode {
    background-color: orange;
}